* {
    margin: 0;
    padding: 0;
    /* background-color: rgb(170, 170, 170); */
  }
  main {
    margin: auto;
    background-color: lightskyblue;
    display: flex;
    overflow: hidden;
  }
  main, .section1, .section2, .section3 {
    width: 1800px;
    height: 900px;
  }
  a {
    position: fixed;
    display: block;
    width: 300px;
    height: 300px;
    margin-left: 1400px;
    text-decoration: none;  
    line-height: 270px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    border-radius: 0% 0% 0% 90%;
    z-index: 10;
    animation: sun 3s linear infinite alternate;
  }
  @keyframes sun {
    0% {
      background-color: rgb(255, 47, 0);
      color: rgb(252, 218, 105);
    }
    100% {
      background-color: rgb(255, 98, 0);
      color: rgb(245, 245, 156);
    }
  }
  .floor {
    position: fixed;
    width: 1800px;
    height: 200px;
    background-color: rgb(194, 127, 67);
    margin-top: 700px;
    display: flex;
  }
  .hand1 {
    position: fixed;
    width: 1800px;
    height: 120px;
    margin-top: 580px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(79, 79, 225);
  }
  .hand1 > div {
    width: 20px;
    height: 120px;
    background-color: rgb(41, 41, 41);
  }
  .hand2 {
    position: fixed;
    width: 1800px;
    height: 40px;
    margin-top: 540px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(60, 136, 69);
  }
  .hand2 > div {
    width: 20px;
    height: 40px;
    background-color: rgb(41, 41, 41);
  }
  .hand3 {
    position: fixed;
    width: 1800px;
    height: 40px;
    margin-top: 500px;
    display: flex;
    justify-content: space-around;
  }
  .hand3 > div {
    width: 20px;
    height: 40px;
    background-color: rgb(41, 41, 41);
  }
  .hand4 {
    position: fixed;
    width: 1800px;
    height: 20px;
    margin-top: 480px;
    background-color: rgb(41, 41, 41);
  }
  .cloud1 {
    position: fixed;
    width: 400px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: cloud 2.5s linear infinite alternate;
  }
  .cloud102 {
    width: 400px;
    height: 100px;
    background-color: white;
    border-radius: 60px;
  }
  .cloud101 {
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: center;
  }
  .cloud10101 {
    width: 170px;
    height: 70px;
    background-color: white;
    border-radius: 60px 60px 0px 0px;
  }
  .cloud10102 {
    margin-top: 20px;
    width: 120px;
    height: 50px;
    background-color: white;
    border-radius: 60px 60px 0px 0px;
  }
  @keyframes cloud {
      0% { transform: translate(400px, 80px); }
      100% { transform: translate(450px, 100px); }
  }
  .cloud2 {
    position: fixed;
    width: 400px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: cloud1 3.5s linear infinite alternate;
  }
  .cloud202 {
    width: 400px;
    height: 100px;
    background-color: white;
    border-radius: 60px;
  }
  .cloud201 {
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: center;
  }
  .cloud20101 {
    width: 170px;
    height: 70px;
    background-color: white;
    border-radius: 60px 60px 0px 0px;
  }
  .cloud20102 {
    margin-top: 20px;
    width: 120px;
    height: 50px;
    background-color: white;
    border-radius: 60px 60px 0px 0px;
  }
  @keyframes cloud1 {
      0% { transform: translate(1050px, 150px); }
      100% { transform: translate(950px, 170px); }
  }
  .section2 {
    position: fixed;
    display: flex;
    justify-content: space-between;
  }
  .tree1, .tree2 {
    width: 350px;
    height: 900px;
    position: relative;
  }
  .leaf1 {
    width: 350px;
    height: 100px;
    background-color: rgb(0, 158, 0);
    border-radius: 0px 0px 80px 0px;
  }
  .leaf2 {
    width: 270px;
    height: 120px;
    background-color: rgb(0, 158, 0);
    border-radius: 0px 0px 90px 0px;
  }
  .leaf3 {
    width: 180px;
    height: 60px;
    background-color: rgb(0, 158, 0);
    border-radius: 0px 0px 60px 0px;
  }
  .wood1 {
    width: 90px;
    height: 640px;
    background-color: rgb(119, 76, 76);
  }
  .leaf4 {
    position: fixed;
    width: 250px;
    height: 100px;
    background-color: rgb(0, 110, 0);
    border-radius: 0px 0px 80px 0px;
  }
  .leaf5 {
    width: 150px;
    height: 100px;
    background-color: rgb(0, 110, 0);
    border-radius: 0px 0px 80px 0px;
  }
  .leaf6 {
    position: fixed;
    width: 130px;
    height: 130px;
    border-radius: 0px 0px 100px 0px;
    background-color: rgb(1, 76, 1);
  }
  .wood2 {
    position: fixed;
    width: 40px;
    height: 640px;
    background-color: rgb(73, 48, 48);
  }
  .section3 {
    position: fixed;
  }
  .char {
    width: 300px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    animation-delay: 2s;
    animation: char1 6s linear infinite alternate;
  }
  .head {
    width: 290px;
    height: 200px;
    padding-top: 100px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-self: start;
  }
  .head1 {
    width: 170px;
    height: 110px;
    margin: 0 auto;
    background-color: yellowgreen;
    border-radius: 400px 400px 0px 0px;
  }
  .head2 {
    width: 170px;
    height: 90px;
    margin: 0 auto;
    background-color: yellowgreen;
    border-radius: 0px 0px 40px 40px;
    overflow: hidden;
  }
  .face {
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
    animation: face1 12s linear infinite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .eyes {
    display: flex;
    justify-content: space-around;
  }
  .eye {
    width: 15px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
  }
  .mouth {
    width: 25px;
    height: 25px;
    margin: 0 auto;
    background-color: red;
    border-radius: 0px 0px 20px 20px;
  }
  @keyframes face1 {
    0% {
      transform: translate(-40px, 0px);
    }
    50% {
      transform: translate(-40px, 0px);
    }
    50.001% {
      transform: translate(120px, 0px);
    }
    100% {
      transform: translate(120px, 0px);
    }
  }
  .body {
    width: 300px;
    height: 350px;
  }
  .body > div {
    width: 130px;
    height: 100px;
    background-color: rgb(0, 178, 145);
    border-radius: 40%;
    padding-top: 50px;
    margin: auto;
  }
  .leg {
    width: 60px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: 1s linear infinite;
  }
  .leg > header {
    width: 60px;
    height: 90px;
  }
  .leg2 {
    width: 60px;
    height: 120px;
    background-color: white;
    border-radius: 25px;
  }
  .leg1 {
    animation-name: leg1;
    margin-left: 37px;
  }
  .leg3 {
    position: absolute;
    animation-name: leg3;
    margin-left: 27px;
    top: 350px;
  }
  .leg4 {
    position: absolute;
    animation-name: leg4;
    margin-left: 27px;
    top: 250px
  }
  @keyframes char1 {
    from {
      transform: translate(1400px, 0px);
    }
    to {
      transform: translate(200px, 0px);
    }
  }
  @keyframes leg1 {
    0% {
      transform: rotate(-45deg);
    }
    50% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(-45deg);
    }
  }
  @keyframes leg3 {
    0% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }
  @keyframes leg4 {
    0% {
      transform: rotate(30deg);
    }
    50% {
      transform: rotate(-30deg);
    }
    100% {
      transform: rotate(30deg);
    }
  }